/* 36. Award CSS  */
@use "./variables" as *;
.award-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.award-wrap {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.single-award-item {
  display: flex;
  align-items: end;
  @media #{$xs} {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 10px;
    @media #{$xs} {
      margin-bottom: 0;
    }
  }
  h3 {
    line-height: 1;
  }
}

.award-icon {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 20px;
    transform: rotate(-45deg);
  }
}

.award-info {
  padding-left: 30px;
  h3 {
    font-size: 30px;
    @media #{$lg} {
      font-size: 28px;
      line-height: 34px;
    }
    @media #{$md} {
      font-size: 20px;
      line-height: 30px;
    }
    @media #{$xs} {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.award-section {
  @media #{$xs} {
    padding-bottom: 50px;
  }
}
