/* 11. Preloader*/
@use "./variables" as *;

#loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
}

#loader:before,
#loader:after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #1d1e21;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}